.container-1 {
  width: 100px;
  height: 100px;
  background-color: red;
  color: white;
  text-align: center;
  grid-column-start: 1 / 6; 
  grid-row: 1;
}

.container-2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  color: white;
  text-align: center;
  grid-column: 2;
  grid-row: 2 ;
}

.container-3 {
  width: 100px;
  height: 100px;
  background-color: lightgreen;
  color: white;
  text-align: center;
  grid-column: 3;
  grid-row: 2 ;
}

.container-4 {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  text-align: center;
  grid-column: 1;
  grid-row: 3;
}

.container-5 {
  width: 100px;
  height: 100px;
  background-color: orange;
  color: white;
  text-align: center;
  grid-column: 2;
  grid-row: 3;
}

.container-6 {
  width: 100px;
  height: 100px;
  background-color: brown;
  color: white;
  text-align: center;
  grid-column: 3;
  grid-row: 2 / 3;
}

.container-7 {
  width: 100px;
  height: 100px;
  background-color: green;
  color: white;
  text-align: center;
  grid-column: 1;
  grid-row: 3 / 4;
}

.container-8 {
  width: 100px;
  height: 100px;
  background-color: aqua;
  color: white;
  text-align: center;
  grid-column: 2;
  grid-row: 3 / 4;
}

.container-9 {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  color: white;
  text-align: center;
  grid-column: 3;
  grid-row: 3 / 4;
}

.parent {
  display: grid;   
  height: 300px;
  width: 300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}